body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  margin: 20px;
  border: 0.2rem solid green;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.filters input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  border: 0.1rem solid green;
}

.filters button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #00ff55;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #0a1520;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  background-color: rgb(179, 237, 121);
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.995);
  text-align: left;
  border: 0.1rem solid green;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.product p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.loading,
.error {
  font-size: 1.2rem;
  color: #333;
  margin-top: 20px;
}

.error {
  color: #ff4d4d;
}

@media (max-width: 768px) {
  .filters input {
    width: 100%;
  }

  .product {
    width: 100%;
  }
}
